{% extends 'index.html' %}
{% load static %}
{% block submain %}
    <h1 class="text-center lead">Listagem de Fornecedores</h1>
    <div class="container">
        <a href="{% url 'new_products' %}" class="btn btn-primary">Criar Novo Produto</a>
    </div>
    <article class="mt-5">
        <table class="table table-striped">
            <thead class="bg-primary text-light">
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Fornecedor</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.code}}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.provider.name }}</td>
                        <td class="cel-action">
                            <a class="btn btn-primary text-light" href="{% url 'update_products' product.id %}">Alterar</a>
                            <a class="btn btn-danger text-light" data-toggle="modal" data-target="#deleteModal"
                            data-name="{{ product.name }}" data-id="{{ product.id }}"
                            data-classname="products">Deletar</a>
                            
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>
    {% include 'modal_delete.html' %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/tableclick.js' %}" type="text/javascript"></script>
{% endblock %}