{% extends 'index.html' %}
{% load static %}
{% block submain %}
    <div class="container">
        <a href="{% url 'new_products' %}" class="btn btn-primary">Criar Novo Produto</a>
    </div>
    <article class="mt-5">
        <table class="table">
            <thead class="bg-primary text-light">
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Fornecedor</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td><a href="{% url 'update_products' product.id %}">{{ product.code }}</a></td>
                        <td><a href="{% url 'update_products' product.id %}">{{ product.name }}</a></td>
                        <td><a href="{% url 'update_products' product.id %}">{{ product.provider.name }}</a></td>
                        <td>
                            <a class="btn btn-danger text-light" data-toggle="modal" data-target="#deleteModal"
                            data-name="{{ product.name }}" data-id="{{ product.id }}"
                            data-classname="products">Deletar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>
    {% include 'modal_delete.html' %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/tableclick.js' %}" type="text/javascript"></script>
{% endblock %}