{% extends 'index.html' %}
{% load static %}
{% block submain %}
    <div class="container">
        <a href="{% url 'new_providers' %}" class="btn btn-primary">Criar Novo Fornecedor</a>
    </div>
    <article class="mt-5">
        <table class="table">
            <thead class="bg-primary text-light">
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>CNPJ</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for provider in providers %}
                    <tr>
                        <td><a href="{% url 'update_providers' provider.id %}">{{provider.id}}</td>
                        <td><a href="{% url 'update_providers' provider.id %}">{{provider.name}}</td>
                        <td><a href="{% url 'update_providers' provider.id %}">{{provider.cnpj}}</td>
                            <td>
                                <a class="btn btn-danger text-light" data-toggle="modal" data-target="#deleteModal"
                                data-name="{{ provider.name }}" data-id="{{ product.id }}"
                                data-classname="providers">Deletar</a>
                            </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>
    {% include 'modal_delete.html' %}
{% endblock %}


{% block scripts %}
    <script src="{% static 'js/tableclick.js' %}" type="text/javascript"></script>
{% endblock scripts %}
    