{% extends 'index.html' %}

{% block submain %}
    <h1 class="text-center lead">Listagem de Movimentações</h1>
    <article class="mt-5">
        <table class="table table-striped">
            <thead class="bg-primary text-light">
                <tr>
                    <th>Produto</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody>
                {% for data in balances %}
                    <tr>         
                        <td>{{ data.name }}</td>
                        <td>{{ data.quantity }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>
{% endblock %}