{% extends 'index.html' %}
{% load static %}
{% block submain %}
    <h1 class="text-center lead">Listagem de Entradas</h1>
    <div class="container">
        <a href="{% url 'new_input' %}" class="btn btn-primary">Criar Nova Entrada</a>
    </div>
    <article class="mt-5">
        <table class="table table-striped">
            <thead class="bg-primary text-light">
                <tr>
                    <th>Número</th>
                    <th>Quantidade</th>
                    <th>Produto</th>
                    <th>Data</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for input in inputs %}
                    <tr class="text-success">  
                        <td>{{ input.number_input }}</td>        
                        <td>{{ input.quantity }}</td>
                        <td>{{ input.product.name }}</td>
                        <td>{{ input.created_at}}</td>
                        <td>
                            <a class="btn btn-primary text-light" href="{% url 'update_input' input.id%}">Alterar</a>
                            <a class="btn btn-danger text-light" data-toggle="modal" data-target="#deleteModal"
                            data-id="{{ input.id }}" data-name="a entrada Nº {{ input.number_input }}" data-classname="lots/input">Deletar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>
    {% include 'modal_delete.html' %} 
{% endblock submain %}


{% block scripts %}
    <script type="text/javascript" src="{% static 'js/tableclick.js' %}"></script>
{% endblock scripts %}
    