{% extends 'index.html' %}

{% block submain %}
    <h1 class="text-center lead">Listagem de Movimentações</h1>
    <div class="container">
        <a href="{% url 'new_lots' %}" class="btn btn-primary">Criar Novo Lote</a>
    </div>
    <article class="mt-5">
        <table class="table table-striped">
            <thead class="bg-primary">
                <tr>
                    <th>Tipo</th>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                {% for data in datas %}
                    {% if data.type == 'Entrada' %}
                    <tr class="text-success">
                    {% else %}
                    <tr class="text-danger"> 
                    {% endif %}   
                        <td>{{ data.type }}</td>        
                        <td>{{ data.product }}</td>
                        <td>{{ data.quant }}</td>
                        <td>{{ data.created_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>
{% endblock %}