{% extends 'index.html' %}
{% load static %}
{% block submain %}
    <h1 class="text-center lead">Listagem de Saídas</h1>
    <div class="container">
        <a href="{% url 'new_output' %}" class="btn btn-primary">Criar Nova Saída</a>
    </div>
    <article class="mt-5">
        <table class="table table-striped">
            <thead class="bg-primary text-light">
                <tr>
                    <th>Número</th>
                    <th>Quantidade</th>
                    <th>Produto</th>
                    <th>Data</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for output in outputs %}
                    <tr class="text-danger">  
                        <td>{{ output.number_output }}</td>        
                        <td>{{ output.quantity }}</td>
                        <td>{{ output.product.name }}</td>
                        <td>{{ output.created_at}}</td>
                        <td>
                            <a class="btn btn-primary text-light" href="{% url 'update_output' output.id%}">Alterar</a>
                            <a class="btn btn-danger text-light" data-toggle="modal" data-target="#deleteModal"
                             data-id="{{ output.id }}" data-name="a saida Nº {{ output.number_output }}" data-classname="lots/output">Deletar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>

    {% include 'modal_delete.html' %}
     
{% endblock submain %}


{% block scripts %}
    <script src="{% static 'js/tableclick.js' %}" type="text/javascript"></script>
{% endblock scripts %}
    